@page "/Suppliers"
@using BlazorCRUD.Shared
@inject HttpClient Http


<h3>Suppliers</h3>

@if (suppliers == null) 
{
    <p><em>Loading...</em></p>
}
else
{
    <table style="font-size:10px" class="table">
        <thead>
            <tr>
                <th className="invisibleColumn"></th>
                <th>CompanyName</th>
                <th>ContactName</th>
                <th>ContactTitle</th>
                <th>Address</th>
                <th>City</th>
                <th>Country</th>
                <th>Phone</th>
                <th>links</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var supp in suppliers)
            {
            <tr>
                <td className="invisibleColumn">@supp.SupplierID</td>
                <td>@supp.CompanyName</td>
                <td>@supp.ContactName</td>
                <td>@supp.ContactTitle</td>
                <td style="width:80px">@supp.Address</td>
                <td>@supp.City</td>
                <td>@supp.Country</td>
                <td>@supp.Phone</td>
                <td><a href="UpdateSupplier/@supp.SupplierID">Edit</a></td>
            </tr>
            }
        </tbody>
    </table>
    <div>@mess</div>
       
}
 @code {
     private List<Supplier> suppliers;
     private string mess = "";

     protected override async Task OnInitializedAsync()
     {
         suppliers = await Http.GetFromJsonAsync<List<Supplier>>("api/Suppliers");
     }


}

